
@{
    ViewData["Title"] = "CustomerCast";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>Müşteri Cast</h1>

@foreach(var item in ((IEnumerable<object>)ViewBag.v).Cast<Customer>())
{
	<p>@item.CustomerName  @item.CustomerSurname - @item.CustomerCity</p>
}

